.red {
    color: #f7302f;
    font-weight: bold;
}
.slide {
    padding-top: 38px !important;
}

.my-border {
    border: 1px solid black;
}

.float-left {
    float: left;
    width: 50%;
}

.float-right {
    width: 50%;
    float: right;
    text-align: right;
}